body{
    background-image: url("https://lh3.googleusercontent.com/proxy/Kz6j5SvmZx7d3XQnzQLgmlT1AhqOW6gOJqqP5WMpF8ee3qZeH4Au8SvVVAZI5UUpfdjYrMbBUteecasIw-RvLn5LFAT8hvKT4jGwBpVdKMQ");
    background-size: 100%;
}
.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 18px;
   
}
.div-value{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 100px;

}
#content-page {
    height: 470px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    font-size: large;
    flex-direction: column;
    background:rgba(0, 0, 0, 0.3);
}
.but{
    height: 40px;
    width: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.mark-container {
    display:flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    /* border: solid;
    border-radius: 25px; */
    margin-bottom: 10px;

}
.mark-container p{
    color: white;
}

.cost-container {
    display:flex;
    align-items: center;
    color: white
}

.lesion{
    background-color: violet;
    display:flex;
    justify-content: flex-end;
    margin-right: 150px;
    color: deepskyblue;
    font-size: xx-large;
    font-weight: 900;
    /* width: 400px; */
}
.main-div h1{
    font-size: xxx-large;
    font-style : oblique;
}
#cost-name{
    font-size: large;
    
}
#cost-value{
    font-size: large;
    
}
.but1{
    font-size: large;
    font-style : oblique;
}
span{
    color: white;
}
.txt-location{
    width: 300px;
    word-wrap: break-word;
}
input{
    outline:none;
}